.speech
{
    font-style:inherit;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;

}
.song
{
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:black;

}
.direction 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color:black;
    background-color: bisque;    

}
.name
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: small;

}
.name:hover
{
   text-shadow: 5px 5px blue;
   border: 5px;

}
.direction:hover
{
    color :aqua;
    background-color: blueviolet;
}
.julia
{
    color:blueviolet;

}
.lud
{
    color:brown;
}
.chorus
{
    color:black;
    font-style: italic;
    font-size: large;
}
.description
{
    color:blueviolet;
}
#table
{
    padding-top: 12px;
  padding-bottom: 12px;
}

#table th, #table td
{
   border: 1px  solid black;
   padding: 5px;
}
#table tr:nth-child(odd)
{
  background-color:aqua;
}
#table th {
    
    text-align: left;
    background-color:azure;
    color: black;

    
  }